/* Mobile Version */
.jumbotron{
    background-image: url('image/borobudur.jpg');
    background-size: cover;
    height: 500px;
    margin-bottom: 0;
    position: relative;
}
.jumbotron::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
}
.display-4{
    text-align: center;
    margin-top: 150px;
    font-size: 62px;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    z-index: 1;
    position: relative;
}
.lead{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    z-index: 1;
    position: relative;
}

.info-panel{
    padding: 20px;
}
.info-panel i{
    margin-right: 20px;
    margin-bottom: 40px;
}

.bg-abu{
    background-color: #4086AA;
}
.card-header{
    background-color: #f5811d;
    color: white
}
.bg-bgr{
    background-image: url('image/borobudur.jpg');
    background-size: cover;
    position: relative;
}
.bg-bgr::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
}
.card{
    position: relative;
    z-index: 1;
}
.card-color{
    background-color:#f2f2f2;
    transition: ease 0.3s;
}
.card:hover{
    background-color: #ccedf9;
    transition: ease-out 0.3s;
}

/* Desktop Version */
@media (min-width: 992px) { 
    .nav-link{
        text-transform: uppercase;
        margin-right: 20px;
    }
    .nav-link:hover{
        background-color: whitesmoke;
        transition: 0.5s ease;
    }
    .jumbotron{
        background-image: url('image/prambanan.jpg');
        background-size: cover;
        height: 600px;
    }
    .display-4{
        margin-top: 150px;
    }
    .lead{
        color: white;
    }

}
